.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border: 4px inset rgba(216, 200, 200, 0.925);
  display: flex;
  justify-content: space-between;
}
.container-poster {
  width: 40%;
}
.poster {
  width: 100%;
}
.container-detail {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-stars {
  display: flex;
  justify-content: end;
  gap: 1rem;
  height: 2rem;
  padding-block: 2rem;
}
.note-title,
.resume-title {
  font-size: 1.7rem;
  font-weight: bold;
}
.resume-title {
  padding-block: 2rem;
}
.resume-text {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}
.similar-box {
  display: flex;
}
.similar {
  width: 20%;
}
.similar-poster {
  max-width: 100%;
  height: 100%;
  border: 4px inset rgba(216, 200, 200, 0.925);
  cursor: pointer;
}
.container-favorite-note {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.322);
  align-items: center;
}
.favorite-box {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.favorite-image {
  width: 100%;
}
.tag-box {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.tag {
  font-size: 1.2rem;
  font-weight: 700;
  color: #f9d88b;
}

/* ------------ */
/* ---james---- */
/* commentaires */

.container {
  margin-bottom: 2rem;
}

.red {
  color: red;
}
.green {
  color: green;
}
.error,
.error-reply {
  padding: 0.5rem 0;
  text-align: center;
}

#comment,
#comment * {
  box-sizing: border-box;
}

#comment {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
}

#comment-title {
  width: fit-content;
  margin: 0 auto 3rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 2px solid #f9d88b;
}

.add-comment-box {
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}

.review-form {
  display: flex;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
}

.add-reply-box {
  width: 100%;
  height: auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}

/* --------- */
/*  inputs  */
/* ------- */
.input-comment,
.input-pseudo,
.reply-pseudo,
.reply-comment {
  min-width: fit-content;
  background-color: #ffffff18;
  color: white;
  border-radius: 5px 5px 0 0;
  border: none;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  border-bottom: 2px solid #f9d88b48;
  transition: all 0.3s ease-in-out;
}

.reply-pseudo,
.reply-comment {
  width: 90%;
  border-radius: 0 0 5px 5px;
  border-bottom: 2px solid #0000002a;
}

.input-pseudo {
  display: none;
  width: 15%;
  transition: all 0.2s ease-in;
}

.input-comment::placeholder,
.input-pseudo::placeholder,
.reply-pseudo::placeholder,
.reply-comment::placeholder {
  color: rgba(255, 255, 255, 0.801);
}
.input-comment:focus,
.input-pseudo:focus,
.reply-pseudo:focus,
.reply-comment:focus {
  outline: none;
  border-bottom: 2px solid #f75151;
}

.input-comment,
.reply-comment {
  word-break: break-word;
  resize: none;
  transition: all 0.3s ease-in-out;
}

/* -------- */
/* boutons */
/* ------ */
.button-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 2rem;
}

.add-comment-button,
.cancel-comment-button,
.reply-comment-button,
.add-reply-button,
.cancel-reply-button {
  background-color: rgba(255, 255, 255, 0.048);
  width: 8rem;
  padding: 0.5rem 1rem;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.add-comment-button,
.cancel-comment-button {
  display: none;
}

.add-comment-button:hover,
.cancel-comment-button:hover,
.add-reply-button:hover,
.cancel-reply-button:hover {
  font-weight: bold;
  transition: all 0.3s ease;
}

.add-comment-button:hover,
.add-reply-button:hover {
  background-color: rgba(25, 168, 12, 0.753);
  color: rgb(255, 255, 255);
}
.cancel-comment-button:hover,
.cancel-reply-button:hover {
  background-color: rgba(168, 12, 12, 0.753);
  color: rgb(255, 255, 255);
}

.reply-comment-button:hover {
  background-color: rgba(255, 255, 255, 0.281);
}

/* -------- */
/* boites  */
/* ------ */

.all-reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.review-box {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review-text {
  background-color: #00000021;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s ease-in-out;
}

.pseudo {
  color: #f9d88b;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.comment-text {
  margin-left: 2rem;
}

.date {
  color: #f9d88b;
  font-size: 0.9rem;
}

/* reply boite */

.review-reply {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.reply-box {
  width: 90%;
}

.reply {
  background-color: rgba(255, 255, 255, 0.062);
}

/* pagination */

.pages-box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
  gap: 2rem;
}

.pages-box a {
  height: 100%;
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #f3f0f0;
}

.pages-box .active-page {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(255, 0, 0);
}

/* voir plus */

.show-more-box {
  width: 90%;
  text-align: center;
}
.show-more,
.show-less {
  color: rgb(255, 80, 80);
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  #comment {
    width: 100%;
  }

  .comment-text {
    margin-left: 0.5rem;
  }

  .all-reviews {
    gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .add-comment-box {
    gap: 0.5rem;
  }

  .review-text {
    padding: 1rem;
  }

  .pages-box {
    gap: 0 1rem;
  }

  .previous-next {
    width: 100%;
  }

  .all-reviews {
    gap: 0.5rem;
  }
  .container {
    flex-direction: column;
  }
  .container-poster {
    width: 100%;
  }
  .container-detail {
    width: 100%;
    padding: 0;
  }
  .container-favorite-note {
    flex-direction: column;
  }
  .similar-box {
    flex-direction: column;
  }
  .similar {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 95%;
  }
}
