* {
    box-sizing: border-box;
}

.card-img {
    border: 4px inset black;
    width: 270px;
    height: 100%;
    object-fit: cover;
}

/* _____________________________  */
/* ____________index____________ */
/* _____________________________  */

h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #F9D88B;
}

h3 {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.562);
}

.type {
    margin: 3rem 0 2rem;
    padding: 0 2rem;
    display: flex;
    align-items: baseline;
    gap: 0.7rem;
}

.movies {
    overflow: hidden;
    position: relative;
    padding: 2rem 0;
    /* background-color: red; */
}

.movies::before,
.movies::after {
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;
    content: "";
    z-index: 2;
}
.movies::before {
    left: 0;
    background: linear-gradient(to left, #30303000, #303030);
}
.movies::after {
    right: 0;
    background: linear-gradient(to right, #30303000, #303030);
}

.movies-slide {
    width: calc(100% - 2rem);
    height: 25rem;
    margin-left: 2rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    transform: translateX(0);
    transition: 1s all ease-in-out;
}

.arrows-right,
.arrows-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
}

.arrows-right {
    text-align: right;
    right: 1rem;
}

.arrows-right img,
.arrows-left img {
    width: 2.5rem;
    height: 2.5rem;
}

.arrows-left {
    visibility: hidden;
    text-align: left;
    left: 1rem;
}


